
.nav-bar {
    position: fixed;
    top: 0;
    width: 100%;
    margin-top: 10px;
    background-color: black;
    color: white;
}
.nav-links-list {
    float:right;
    margin-right: 30px;
    list-style-type: none;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: baseline;
    align-content: stretch;
}
.nav-link {
    margin-left: 50px;
    margin-right: 50px;
    font-size: 1.4em;
}
.link {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.842);
}
.About-me {
    margin-top: 100px;
}
.rick-hero {
    margin-top: 65px;
    width: 100%;
    height: 600px;
    background-image: url('https://cnet1.cbsistatic.com/img/eNyjKGyZqMtaQjfnWFiTTnuNXFs=/2020/04/10/df9a45f1-52f1-439b-aed1-a3882ea6037f/twitter-in-stream-wide-tiger-king-rick-kirkham-1.jpg');
    filter: grayscale(100%);
}
.rick-container {
    margin-top: 375px;
    margin-left: 10px;
    width: 350px;
    height: 180px;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.842);  
}
.rick-paragraph {
    /* background-color: rgba(255, 255, 255, 0.842); */
    line-height: 0.7em;
    font-size: 1.4em;
    padding: 20px;
    margin-top: -20px;
    margin-left: 10px;
}
.rick-title {
    margin-left: 30px;
}
.about-me-hero {
    margin-top: -100px;
    width: 100%;
    height: 600px;
    background-image: url('https://www.clickorlando.com/resizer/S1RQOPLpE8VJpLAVx3czK9wkCKM=/1280x720/smart/filters:format(jpeg):strip_exif(true):strip_icc(true):no_upscale(true):quality(65)/arc-anglerfish-arc2-prod-gmg.s3.amazonaws.com/public/SPS6ZXZX5VF2VHUQ2DS4X5HU2A.jpg');
    filter: grayscale(100%);
}
.about-me-container {
    margin-top: 350px;
    margin-left: 10px;
    width: 450px;
    height: 200px;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.842);
}
.about-me-paragraph {
    line-height: 1.4em;
    font-size: 1.4em;
    padding: 20px;
    margin-top: -20px;
    margin-left: 10px;
}
.about-me-title {
    margin-left: 30px;
}


#skills {
    display: flex;
    flex-direction: row;
    flex-wrap: none;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    height : 300px;
    width: 100%
}

.logo {
    width: 200px;
    align-self: center;
    justify-self: flex-end;
}

.skill-card {
    height: 250px;
    width: 25%
}

.skill-image {
    width: 25%;
    height: 25%
}

.work-section {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
}

.work-div {
    height: 300px;
    width: 50%;
    display: flex;
    align-content: center;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.work-div p {
    width: 80%;
    margin: auto
}

.work-div hr{
    width: 80%
}



.work-image {
    display: flex;
    align-content: center;
    justify-items: center;
    width: 50%;
    text-align: center;
}

.tv-junkie-image {
    width: 100%
}

.tiger-king-image {
    width: 100%
}

footer {
    text-align: center;
}

.make-america-exotic-again-image {
    width: 100%;
}